node_modules
npm-debug.log
.git
.gitignore
.env
.env.backup
.env.example
.trae
.cursor
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
phpunit.xml
.phpunit.result.cache
.editorconfig
.pint.json
README.md
docs
*.md
!README.md
deployment

