app = "pod-web"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[deploy]
  release_command = "php artisan migrate:fresh --force"

[env]
  APP_ENV = "production"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [[http_service.checks]]
    interval = "10s"
    grace_period = "5s"
    method = "GET"
    path = "/up"
    protocol = "http"
    timeout = "2s"
    tls_skip_verify = false
    [http_service.checks.headers]

[[vm]]
  memory_mb = 512
  cpu_kind = "shared"
  cpus = 1

